body {
    outline: none;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    background: #f9f9f9;
    box-sizing: border-box;
    font-family: "Segoe UI Light";
    font-size: 18px;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#box {
    width: 320px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    border: thin solid #ededed;
}

.h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: .9em;
    color: #666;
    margin: 35px 0 35px 0;
}

.form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.input {
    display: inline-block;
    width: 260px;
    height: 50px;
    margin: 5px auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: .8em;
    border: 1.5px solid #cccccc;
    transition: all .2s ease;
}

.input:focus {
    border: thin solid #015b7e;
    outline: none;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 700;
    font-size: .9em;
}

::-moz-placeholder {
    color: #ccc;
    font-weight: 700;
    font-size: .9em;
}

.submit {
    width: 260px;
    height: 50px;
    background: #015b7e;
    border: none;
    outline: none;
    margin: 20px auto;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    font-size: .7em;
    transition: all .2s ease;
}

.submit:hover {
    background: #014965;
}